# -*- coding: utf-8 -*-
# Python>=3.11
fastapi~=0.115.5
uvicorn~=0.32.0
toollib>=1.6.7
python-dotenv~=1.0.1
PyYAML~=6.0.2
loguru~=0.7.2
SQLAlchemy~=2.0.36
aiosqlite~=0.20.0
redis~=5.2.0
PyJWT~=2.10.1
bcrypt~=4.2.0